.Registro {
  width: 60%;
  margin: auto;
  text-align: center;
}

.Registro img {
  width: 40%;
}

.Registro .input-nombre {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .Registro {
    width: 100%;
  }
}
